/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
:root{
    --basicColor: rgb(248, 152, 30);
    --menuColor: rgb(19, 19, 19, 0.8);
    --headerColor: rgb(19, 19, 19, 0.8);
    --innerColor: rgba(165, 165, 165, 0.393);
    --basicFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

*{
    margin: 0;
    padding: 0;
}
body{
    /* background: rgb(19, 19, 19); */
    background-image: url(https://cdni.pornpics.com/1280/7/362/36517247/36517247_009_fa88.jpg);
    background-size: cover;
    background-position-y: -200px;
}

/* -------------------------------------------------------HEADER-------------------------------------------------------- */
/* -------------------------------------------------------HEADER-------------------------------------------------------- */
header{
    background: var(--headerColor);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0 35px;

    position: fixed;
    top: 0;
}
.logo p{
    font-size: 30px;
    font-family: var(--basicFont);
}
.logo span{
    background: var(--basicColor);
    border-radius: 7px;
}
.close_btn{
    display: none;
}
.mine{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;
}
.log{
    width: 35px;
    height: 35px;
}
.log i{
    font-size: 40px;
    color: white;
}
.user{
    display: none;
}
nav .ul > li{
    list-style: none;
    margin: 0 20px;
    padding: 5px;

    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: var(--basicFont);
}
nav ul li ul{
    border-radius: 5px;
    box-sizing: border-box;
}
nav ul li ul li{
    list-style: none;
}
nav ul li ul li:hover{
    background: var(--basicColor);
    border-radius: 7px;
}
.clicked{
    display: block;
}
nav ul li ul li:not(:last-child){
    margin-bottom: 15px;
}

/* -------------------------------------------------------FOOTER-------------------------------------------------------- */
/* -------------------------------------------------------FOOTER-------------------------------------------------------- */
footer{
    width: 100%;
    height: 50px;
    background: var(--basicColor);
    font-size: 13px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
}


/* -------------------------------------------------------Devices-------------------------------------------------------- */
/* -------------------------------------------------------Devices-------------------------------------------------------- */
/* -------------------------------------------------------Devices-------------------------------------------------------- */


/* ----------------Small Screen---------------- */
/* ----------------Small Screen---------------- */
@media (max-width: 400px) {
    body{
        background-image: url(https://cdni.pornpics.com/1280/1/83/68660543/68660543_015_bf70.jpg);
        background-position: center;
        background-attachment: fixed;
    }
    header{
        padding: 0 15px;
    }
    .sidebar{
        width: 75%;
        height: 100vh;
        background: var(--menuColor);
        backdrop-filter: blur(5px);

        box-sizing: border-box;
        padding: 25px 0px 55px;

        position: absolute;
        top: 0;
        left: -75%;

        overflow: scroll;

        transition: 0.45s;
    }
    .close_btn{
        width: 25px;
        height: 25px;
        display: block;
        color: white;

        position: fixed;
        right: 25px;

        opacity: 0;

        transition: 0.25s;
    }
    .user{
        width: 75px;
        height: 75px;
        border-radius: 50%;

        background-image: url(../_Pic/15898.jfif);
        background-size: cover;
        background-position-y: 160px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 45px;
        font-family: var(--basicFont);
    }
    .mine{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 35px;
    }
    nav .ul > li{
        margin-bottom: 15px;
        border-bottom: 0.5px solid white;
    }
    nav .ul > li:nth-child(6){
        border-bottom: 0px solid white;
    }
    nav ul li ul{
        background: var(--innerColor);
        backdrop-filter: blur(5px);
    
        padding: 5px 25px;

        display: none;
    }
    nav ul li a{
        font-size: 32px;
    }
    .logOut{
        display: none;
    }
}


/* ----------------Medium Screen---------------- */
/* ----------------Medium Screen---------------- */
@media (min-width: 401px) and (max-width: 750px) {
    body{
        background-position: center;
        background-attachment: fixed;
    }
    header{
        padding: 0 15px;

        position: absolute;
        top: 0;
    }
    .sidebar{
        width: 35%;
        min-height: 100vh;
        background: var(--menuColor);
        backdrop-filter: blur(5px);

        box-sizing: border-box;
        padding: 25px 0px 40px;

        position: absolute;
        top: 0;
        left: -50%;

        transition: 0.45s;
    }
    .close_btn{
        width: 25px;
        height: 25px;
        display: block;
        color: white;

        position: fixed;
        right: 25px;

        opacity: 0;

        transition: 0.25s;
    }
    .user{
        width: 75px;
        height: 75px;
        border-radius: 50%;

        background-image: url(../_Pic/15898.jfif);
        background-size: cover;
        background-position-y: 160px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 45px;
        font-family: var(--basicFont);
    }
    .mine{
        margin-bottom: 20px;
    }
    nav .ul > li{
        margin-bottom: 15px;
        border-bottom: 0.5px solid white;
    }
    nav .ul > li:nth-child(6){
        border-bottom: 0px solid white;
    }
    nav ul li ul{
        background: var(--innerColor);
        backdrop-filter: blur(5px);
        
        margin-top: 15px;
        padding: 5px 25px;

        display: none;
    }
    .logOut{
        display: none;
    }
}


/* ----------------Big Screen---------------- */
/* ----------------Big Screen---------------- */
@media (min-width: 751px) {
    nav ul{
        display: flex;
    }
    nav .ul > li::before{
        content: "";
        width: 0;
        height: 2.5px;
        background: var(--basicColor);
    
        position: absolute;
        top: 27px;
        left: 0;
    
        transition: 0.25s;
    }
    nav .ul > li:hover::before{
        width: 100%;
    }
    nav ul li ul{
        background: var(--headerColor);
        position: absolute;
        top: 60px;
        width: 100px;
        padding: 5px;
        display: none;
    }
    nav ul li ul li{
        padding: 5px;
    }
    .log{
        display: none;
    }
    .TAB{
        background: var(--basicColor);
        padding: 5px;
        box-sizing: border-box;
        border-radius: 7px;
    }
}