@media print{
    body *:not(.rechnung):not(.rechnung *){
        visibility: hidden;
    }
    .rechnung{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
    }
}

/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
/* -------------------------------------------------------Global Rules-------------------------------------------------------- */
:root{
    --accentColor: #fa9851;
    --bodyColor: #121e2e;
    --sectionColor: #414769;
    --imgColor: #64709a;
    --whiteColor: #ffffff;
    --blackColor: #000000;

    /* --accentColor: #fd8a39;
    --bodyColor: #729b9d;
    --sectionColor: #e9f3f2;
    --imgColor: #c1dade;
    --whiteColor: #000000;
    --blackColor: #000000; */
    
    /* --accentColor: #fe5e2c;
    --bodyColor: #424347;
    --sectionColor: #dcdace;
    --imgColor: #eaede6;
    --whiteColor: #424347;
    --blackColor: #000000; */

    --basicFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    --fontSizeTitle: 30px;
    --fontSizeMain: 27px;
    --fontSizeSecond: 13px;
    --fontSizePrice: 18px;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--bodyColor);
    background-size: cover;
    height: 100vh;
}

/* -------------------------------------------------------HEADER-------------------------------------------------------- */
/* -------------------------------------------------------HEADER-------------------------------------------------------- */
.header{
    background: var(--bodyColor);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 35px 1px #121818;
}
.header p{
    font-family:var(--basicFont);
    font-weight: bold;
    font-size: 18px;
    color: var(--whiteColor);
}
.header img{
    width: 55px;
}

/* -------------------------------------------------------INNER-------------------------------------------------------- */
/* -------------------------------------------------------INNER-------------------------------------------------------- */
.Filiale{
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
    padding: 35px 0;
}
.first-tab, .second-tab, .third-tab, .fourth-tab, .fifth-tab, .sixth-tab, .seventh-tab, .eighth-tab {
    display: none;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0 30px;
}

/* -------------------------------------------------------BASE-------------------------------------------------------- */
/* -------------------------------------------------------BASE-------------------------------------------------------- */
ul{
    list-style: none;
    width: 85%;
}
ul a{
    background: var(--accentColor);
    box-shadow: 0.5px 1.5px 8px rgb(71, 71, 71);
    text-decoration: none;
    color: var(--blackColor);
    font-family: var(--basicFont);

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 15px;
}
.a_tab a, .b_tab a, .c_tab a, .d_tab a, .e_tab a, .f_tab a, .g_tab a, .h_tab a{
    border-radius: 20px;
    box-shadow: 1px 3px 8px rgb(29, 29, 29);
    font-size: var(--fontSizeTitle);
    height: 55px;
}

/*--------------------------------section------------------------------*/
/*---------------------------------------------------------------------*/
section{
    background: var(--sectionColor);
    color: var(--whiteColor);

    font-family: var(--basicFont);

    border-radius: 35px;

    box-sizing: border-box;
    padding: 15px 15px 15px 15px;

    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    height: 10px;
    display: flex;
    column-gap: 15px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    background: var(--whiteColor);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 50%;
    transition: opacity ease 0.25s;
}
.slider-nav a:hover{
    opacity: 100%;
}

/*--------------------Image--------------------*/
ul img{
    background: var(--imgColor);
    width: 100%;
    border-radius: 30px;

    margin-bottom: 15px;
}
.nextSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information{
    width: 75%;
}

/*-------------products dimensions-------------*/
.marke{
    font-size: var(--fontSizeSecond);
    text-decoration: underline;
}
.proName{
    font-size: var(--fontSizeMain);
}
.pro_value{
    font-size: var(--fontSizeSecond);
    margin-bottom: 20px;
}
.company{
    width: 35px;
}
.companyName{
    background: transparent;
    border-radius: 0;
    display: block;
}
/* .company{
    background: red;
    width: 45px;
    border-radius: 0;
    border-radius: 50%;

    position: absolute;
    right: -10px;
    top: 10px;

    transform: rotate(25deg);
} */
.vr{
    background: var(--bodyColor);
    width: 0.2px;
    height: 55px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-size: var(--fontSizePrice);
    font-family: var(--basicFont);
}
.more{
    position: relative;
}
.more a{
    width: 55px;
    height: 55px;
    border-radius: 50%;

    margin-bottom: 0;
}
.addBtn{
    width: 55px;
    height: 55px;

    position: relative;
    float: right;
    z-index: 2;
}
.shopping{
    background: var(--imgColor);
    box-shadow: none;

    position: absolute;
    top: 0;
    right: 65px;
}
.kasseBtn{
    background: var(--bodyColor);
    height: 55px;
    width: 120px;

    border-radius: 55px;

    transition: 0.5s;
    transform-origin: right;
    transform: translateX(-20px) scaleX(1%);
}
.kasseBtn a{
    width: 48px;
    height: 48px;
    color: var(--whiteColor);

    left: 65px;

    margin-top: 3.5px;

    transition: 0.6s;
}

/*---------------my packet---------------*/
.myList{
    background: var(--accentColor);
    width: 50px;
    height: 50px;
    
    border: none;
    border-radius: 50%;
    
    position: fixed;
    bottom: 10px;
    right: 14px;
    
    box-shadow: 0px 0px 25px black;
    
    transition-duration: 0.8s;

    z-index: 3;
}
.listIcon{
    background: none;
    width: 50px;
    height: 50px;
    font-size: 22px;

    border: none;
    border-radius: 50%;
    
    position: fixed;
    bottom: 10px;
    right: 14px;
    
    opacity: 100%;

    transition-duration: 1.2s;

    pointer-events: none;

    z-index: 3;
}
.listIcon img{
    width: 20px;
}
.pocketIcon{
    background: none;
    width: 50px;
    height: 50px;
    font-size: 22px;
    
    border: none;
    border-radius: 50%;
    
    position: fixed;
    bottom: 10px;
    right: 14px;
    
    opacity: 0;

    transition-duration: 1.2s;

    pointer-events: none;

    z-index: 3;
}
.pocketIcon img{
    width: 25px;
}

/*---------------My Order Menu---------------*/
.myOrder{
    background: var(--imgColor);
    width: 22%;
    height: 95vh;

    border-radius: 20px 20px 0 0;
    border: 1.5px solid var(--bodyColor);

    box-sizing: border-box;
    padding: 25px 3%;

    text-align: center;
    color: var(--whiteColor);
    font-family: var(--basicFont);
    font-size: 20px;

    position: fixed;
    right: 0;
    bottom: -650px;

    overflow-y: scroll;

    transition: 0.8s;

    z-index: 2;
}
.myOrder hr{
    background: var(--whiteColor);
    border: none;
}
.order{
    background-color: transparent;
    width: 60px;
    height: 60px;

    border-radius: 50%;

    display: flex;

    margin-bottom: 25px;
    
    position: relative;
}
/*.cancel{
    background: var(--bodyColor);
    width: 22px;
    height: 22px;

    border-radius: 50%;

    text-align: center;
    color: var(--whiteColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

    position: absolute;
    top: -10px;
    left: 0;
}*/
.amount{
    background: var(--bodyColor);
    width: 22px;
    height: 22px;

    border-radius: 50%;

    text-align: center;
    color: var(--whiteColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

    position: absolute;
    bottom: -10px;
    right: 0;
}












/*-------------hide the menu-------------*/
.clicked{           /* Open The List */
    display: grid;
}
hr{
    background: var(--blackColor);
    border: none;
    height: 1px;
}
.openMyOrder{
    bottom: 0;
}
.flipMe{
    transform: rotateX(180deg);
}
.disappear{
    opacity: 0;
}
.appear{
    opacity: 100%;
}


/*-------------the rechnung-------------*/
.weiterButton{
    background: var(--imgColor);
    width: 100%;
    height: 35px;
    color: var(--whiteColor);

    font-size: 22px;
    font-family: var(--basicFont);
    
    border: none;
    border: 1px solid white;
    
    margin-bottom: 5px;
}
.printButton{
    width: 100%;
    height: 35px;
    
    font-size: 22px;
    font-family: var(--basicFont);
    color: var(--whiteColor);

    border: 3px solid black;
    background: var(--accentColor);

    display: none;
}

.rechnung{
    height: fit-content;
    
    box-sizing: border-box;
    padding: 25px;
}
.paper{
    background: var(--whiteColor);
    height: fit-content;

    box-sizing: border-box;
    padding: 15px 20px;

    box-shadow: 5px 5px 10px;

    display: none;
}
.rechnung .paper .fName{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--basicFont);
}
.rechnung .paper .sName{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: var(--basicFont);
}
.rechnung .paper .tName{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: var(--basicFont);
    margin-bottom: 15px
}
.rechnung .paper .ffName{
    display: flex;
    justify-content: right;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--basicFont);
}
.rechnung .items{
    font-size: 16px;
    font-family: var(--basicFont);

    padding: 0 10px;

    margin-bottom: 10px;   
}
.myDate{
    font-size: 12px;
    font-family: var(--basicFont);

    display: flex;
    justify-content: space-between;
}

.btn{
    box-sizing: border-box;
    padding: 10px;

    height: fit-content;
}
.mySum{
    display: flex;
    justify-content: space-between;

    font-size: 22px;
    font-family: var(--basicFont);
    font-weight: bold;
    display: none;
    margin-top: 20px;
}